{#
  SPDX-FileCopyrightText: 2016-2018 CERN.
  SPDX-License-Identifier: MIT
#}

{%- block header -%}
    {%- if logo -%}
        <img src="{{ logo }}" />
    {%- endif -%}
{%- endblock header -%}

{%- block body -%}
    {%- block greetings -%}
        <p>Dear {{ user }},</p>
    {%- endblock greetings -%}

    {%- block content -%}
        <p>{{ content }}</p>
    {%- endblock content -%}

    {%- block regards -%}
        <p>Regards,</p>
        <p>{{ sender }}</p>
    {%- endblock regards -%}
{%- endblock body -%}
